/*!
* Thomaskirchen-Styles
* Hier sind u.a. Anpassungen fuer bootstrap
 */
body {
	/*background-color: #cac29a;*/
	background-color: #ccff99;
	margin: 0px;
}
/*************  Media *************/
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
}

/************* Page Header *************/
#page-header-title {
	margin-bottom: -5px;
	background-image: url("../images/bg_title.png");
}

/* Damit wird das Bild autom. verkleinert, bzw. vergroessert auf die Originalgroesse */
#page-header-title>img {
	max-width: 100%;
	height: auto;
}
#page-header-title>a:visited, a:hover, a{
	color: transparent;
}
/************* Navigation Oben *************/
#nav-top {
	background-image: url("../images/nav_oben_ziegel.png");
	background-repeat: repeat-x;
	min-height: 25px;
}

#nav-top>ul ,#nav-left>ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav-top>ul {
	margin-left: 134px;
}

#nav-top>ul>li {
	float: left;
}

#nav-top>ul>li>a, #nav-left>ul>li>a {
	display: block;
	color: #ffcc33;
	font-family: 'Cookie';
	font-size: 24px;
	text-decoration: none;
}
#nav-top>ul>li>a, #nav-left>ul>li>a {
	width: 124px;
	height: 28px;
}

#nav-top>ul>li>a:hover, #nav-left>ul>li>a:hover {
	color: #ccff99;
}

#nav-top>ul>li.active>a, #nav-top>ul>li.active>a:hover, #nav-top>ul>li.active>a:focus, #nav-left>ul>li.active>a, #nav-left>ul>li.active>a:hover, #nav-left>ul>li.active>a:focus
	{
	color: #ccff99;
}

/************* Navigation Links *************/
#nav-container {
	position: relative;
}

#nav-left {
	position: absolute;
	background-image: url("../images/nav_bg_left.png");
	background-repeat: repeat-y;
	min-height: 1024px;
	padding-bottom: 10px;
}

#nav-left>ul {
	width: 124px;
}

#nav-left>ul>li {
	margin-top: 0px;
}

#nav-left>ul>li>a {
	height: 50px;
	padding-left: 10px;
}

#content {
	margin-left: 124px; /* Abstand vom linken Menue */
	background-color: #ccff99;
	min-height: 1024px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #993333;
	padding: 10px 10px 0px 10px;
}

.row  {
	clear: both;
	
}
.col1 {
	width: 25%;
	float: left;
}

.col2 {
	width: 50%;
	float: left;
	overflow: auto;
}

.col3 {
	width: 75%;
	float: left;
}

.col4 {
	width: 100%;
	float: left;
}

@media only screen and (max-width: 480px) {
	.col1 {
		width: 100%;
		float: left;
	}
	.col2 {
		width: 100%;
		float: left;
	}
	.col3 {
		width: 100%;
		float: left;
	}
	.col4 {
		width: 100%;
		float: left;
	}
}

.txt-gruen {
	color: #336600;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 28px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 22px;
	text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}

.vorschau {
	/*width: 400px;*/
	
}

.vorschau>ul>li>h3 {
	color: #336600;
}

.vorschau>ul>li>h2 {
	color: #336600;
}

.vorschau>ul>li {
	list-style-type: none;
	border-bottom: thick;
	border-bottom-style: dotted;
	text-align: center;
}