/* Script-Font von Google importieren */
@import url(http://fonts.googleapis.com/css?family=Cookie);

/*!
* Thomaskirchen-Styles
* Hier sind u.a. Anpassungen fuer bootstrap
 */
 
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 481px) and (max-width: 1290px) {
}


body {
	/*background-color: #cac29a;*/
	background-color: #ccff99;
	margin: 0px;
}

#logo{
    position: absolute;
    top: 10px;
    left: 20px;
	background-image: url("../images/tk_logo.png");
	width: 102px;
	height: 106px;
	
}
h1 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 28px;
	text-align: center;
}

h2 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 22px;
	text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}

p{
	color: #336600;
	text-align: center;
}

strong{
	color: #993333;
}
img.centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.text-left{
	float: right;
}
img.text-right{
	float: left;
}
.txt-gruen{
	color:	#336600;
}
/************* Page Header - Anfang *************/
#page-header-title {
	margin-bottom: -4px; /* keine Ahnung warum da ein Abstand ist */
	background-image: url("../images/header-bg.jpg");
}


#page-header-title>a:visited, #page-header-title>a:hover, #page-header-title>a{
	color: transparent; /* damit das Logo nicht umrandet wird */
}
/************* Page Header - Ende *************/
/************* Navigation Top - Anfang *************/
#nav-top {
	background-image: url("../images/nav-top-bg.png");
	background-repeat: repeat-x;
	min-height: 25px;
	min-width: 1024px; /* damit die Menüleiste mind. genauso breit wie das Bild ist */ 
}
#nav-top>ul ,#nav-left>ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav-top>ul {
	display: table;
	margin-left: 134px;
}
#nav-top>ul>li {
	display: table-cell;
}
/************* Navigation Top - Ende *************/

/************* gilt für beide Menübereiche - Anfang *******/
#nav-top>ul>li>a, #nav-left>ul>li>a {
	display: block;
	color: #ffcc33;
	font-family: 'Cookie';
	font-size: 24px;
	text-decoration: none;
}

#nav-top>ul>li>a, #nav-left>ul>li>a {
	width: 124px; /* die menüs sind gleich groß */
	height: 28px;
}

#nav-top>ul>li>a:hover, #nav-left>ul>li>a:hover {
	color: #ccff99;
}

#nav-top>ul>li.active>a, #nav-top>ul>li.active>a:hover, #nav-top>ul>li.active>a:focus, #nav-left>ul>li.active>a, #nav-left>ul>li.active>a:hover, #nav-left>ul>li.active>a:focus
	{
	color: #ccff99;
}
/************* gilt für beide Menübereiche - Ende *******/
/** Navigations-Container **/
/* braucht man für nav-left und den eigentlichen content */
#nav-container {
	position: relative;
	background-image: url("../images/nav-left-bg.png");
	background-repeat: repeat-y; /* dadurch werden die Zeigel nur nach unten vermehrt */
}

/************* Navigation Links *************/
#nav-left {
	position: absolute;
	min-height: 1024px;
	padding-bottom: 10px;
}

#nav-left>ul {
	width: 124px;
}

#nav-left>ul>li {
	margin-top: 0px;
}

#nav-left>ul>li>a {
	height: 50px;
	padding-left: 10px;
}

/************ CONTENT-AREA **************/ 
#content {
	margin-left: 124px; /* Abstand vom linken Menue */
	background-color: #ccff99;
	min-height: 1024px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #993333;
	padding: 10px 10px 0px 10px;
}
#content>a:visited{
	color: #993333;
}

.row  {
	display: table;
	width: 100%;
}

.col {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	text-align: center;
}
.col1 {
	width: 12.5%;
	display: table-cell;
}
.col2 {
	width: 25%;
	display: table-cell;}

.col3 {
	width: 37.5%;
	display: table-cell;}

.col4 {
	width: 50%;
	display: table-cell;
}
.col5 {
	width: 62.5%;
	display: table-cell;
}

.col6 {
	width: 75%;
	display: table-cell;
}

.col7 {
	width: 87,5%;
	display: table-cell;
}

.col8 {
	width: 100%;
	display: table-cell;
}
.blank-line{
	clear: both;
	height:18px;
}
.vorschau {
	min-width: 240px;
}

.vorschau>ul>li>h3 {
	color: #336600;
}

.vorschau>ul>li>h2 {
	color: #336600;
}
.vorschau>ul>li>p {
	color: #993333;
}

.vorschau>ul>li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	list-style-type: none;
	border-bottom: thick;
	border-bottom-style: dotted;
	text-align: center;
}

.veranstaltung {
	text-align: left;
}

.veranstaltung>ul>li>h3 {
	color: #336600;
}

.veranstaltung>ul>li>h2 {
	color: #336600;
}
.veranstaltung>ul>li>p{
	text-align: left;
	color: #993333;
}
.veranstaltung>ul>li {
	margin-bottom: 60px;
	list-style-type: none;
	text-align: left;
}

.rueckblick{
	text-align: center;
}
.rueckblick>ol{
	list-style: none;
}
.rueckblick>ol>li{
	border-bottom-style: dotted;
	padding-bottom: 20px;
	padding-top: 10px;
}
/******** Rueckblicke-Menu - Anfang *********/
.rueckblick .menu>ol{
	list-style-type: none;
	display: table;
    margin: 0 auto;
}
.rueckblick .menu>ol>li{
	float: left;
	margin: 10px 30px 0px 0px;
}
.rueckblick .menu>ol>li.active>a{
	text-decoration: none;
	color: #993333;
}
/******** Rueckblicke-Menu - Ende *********/
/******** Gemeindebrief **********/
.gemeindebrief{
	clear: left;
}
.gemeindebrief>table{
	border: 0; 
	width: 100%;
}
.gemeindebrief>table>tbody>tr>td{
	text-align: center;
	color: #336600;
	width: 25%;
	font-size: 14px;
}
.gemeindebrief>table>tbody>tr>td.ueberschrift{
	color: #336600;
	text-align: center;
	height: 100px;
}
.gemeindebrief>table>tbody>tr>td>img{
	height: 98px;
	width: 67px;
	margin-left: auto;
	margin-right: auto;
}
