
<!-- nav building block -->

   {% if page.section == 'gottesdient' %}
		<div id="nav-left">
			<ul>
				<li>
					<a href="gemeinde/allgemein.html">Gemeinde</a>
				</li>
				<li>
					<a href="gottesdienst/allgemein.html">Gottesdienst</a>
				</li>
				<li>
					<a href="kreise/chor.html">Kreise</a>
				</li>
				<li>
					<a href="#">Team</a>
				</li>
				<li>
					<a href="#">Termine</a>
				</li>
				<li>
					<a href="#">Kontakt</a>
				</li>
			</ul>
		</div>
   {% elsif page.section == 'gemeinde' %}
      <!-- to be done -->
   {% else %}
		<div id="nav-top">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>
   {% end %}
		
